
.nova/Tasks/Playdate Simulator.json
add/game.aseprite
add/gameadd.aseprite
add/gameend.aseprite
add/gameover.ase
add/help.aseprite
add/itch/anim1.gif
add/itch/cover.aseprite
add/itch/cover.png
add/itch/s1.png
add/itch/s2.png
add/itch/s3.png
add/itch/s4.png
add/itch/s5.png
add/itch/s6.png
add/mark.aseprite
add/menu.aseprite
sequential.pdx.zip
sequential.pdx/img/board.pdi
sequential.pdx/img/font/whiteglove-stroked.pft
sequential.pdx/img/gameadd.pdt
sequential.pdx/img/gameend.pdi
sequential.pdx/img/gameover.pdi
sequential.pdx/img/help1.pdi
sequential.pdx/img/help2.pdi
sequential.pdx/img/helpbutton.pdi
sequential.pdx/img/levelcomplete.pdi
sequential.pdx/img/mark.pdt
sequential.pdx/img/menu.pdi
sequential.pdx/img/menubutton.pdi
sequential.pdx/img/playbutton.pdi
sequential.pdx/img/puzzle.pdt
sequential.pdx/img/restartbutton.pdi
sequential.pdx/img/white.pdi
sequential.pdx/main.pdz
sequential.pdx/pdxinfo
sequential.pdx/sfx/click.pda
sequential.pdx/sfx/completelevel.pda
sequential.pdx/sfx/gameover.pda
sequential.pdx/sfx/play.pda
sequential.pdx/sfx/undo.pda
sequential.pdx/SystemAssets/card-highlighted/1.pdi
sequential.pdx/SystemAssets/card-highlighted/2.pdi
sequential.pdx/SystemAssets/card-highlighted/3.pdi
sequential.pdx/SystemAssets/card-highlighted/4.pdi
sequential.pdx/SystemAssets/card-highlighted/animation.txt
sequential.pdx/SystemAssets/card-pressed.pdi
sequential.pdx/SystemAssets/card.pdi
sequential.pdx/SystemAssets/launchImages/1.pdi
sequential.pdx/SystemAssets/launchImages/2.pdi
sequential.pdx/SystemAssets/launchImages/3.pdi
sequential.pdx/SystemAssets/launchImages/4.pdi
sequential.pdx/SystemAssets/launchImages/5.pdi
sequential.pdx/SystemAssets/launchImages/6.pdi
sequential.pdx/SystemAssets/launchImages/7.pdi
sequential.pdx/SystemAssets/launchImages/8.pdi
sequential.pdx/SystemAssets/launchImages/9.pdi
